/* 1400, 1199, 991, 767, 575, 480, 360, 320 */
/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/
/* min-width 1430 */
@media (min-width: 1430px) {
}
/* max-width 1399 */
@media (max-width: 1399.98px) {
 
}
/* max-width 1199 */
@media (max-width: 1199.98px) { 
  /* futurism section start */
  .futurism-area .grid-container , .style-2 .grid-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
    /*====style 2 start=====*/

    .style-2 .bl-wrapper:nth-child(2) {
      grid-column: 1 / 2;
    }
    .style-2 .bl-wrapper:nth-child(3) {
      grid-column: 2 / 3;
    }
    .style-2 .bl-wrapper:nth-child(1) {
      grid-column: 3;
      grid-row: 1;
    }
  /*====style 2 end=====*/
  .futurism-area .grid-container .bl-wrapper:nth-child(1) ,  .style-2 .bl-wrapper:nth-child(1){
    grid-column: 1 / -1;
  }
  .futurism-area .grid-container .bl-wrapper:nth-child(2) , .style-2 .bl-wrapper:nth-child(2) {
    grid-column: 1 / 2;
  }
  .futurism-area .grid-container .bl-wrapper:nth-child(3) , .style-2 .bl-wrapper:nth-child(3) {
    grid-column: 2 / 3;
  }
    


 
/* futurism section end */
}
/* max-width 991 */
@media (max-width: 991.98px) {
   
}
/* max-width 767 */
@media (max-width: 767.98px) { 
  

    
}
/* max-width 575 */
@media (max-width: 575.98px) {
 
     /* futurism section start */
     .futurism-area .grid-container , .style-2 .futurism-area .grid-container{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
     .futurism-area .grid-container .bl-wrapper:nth-child(3) {
      grid-column: 1 / -1;
     }
     /* futurism section end */
        
    
     
  
}
/* max-width 479 */
@media (max-width: 479.98px) {
    
      /* futurism section css start */
      .bl-wrapper h5 {
        font-size: 24px;
      }
      .bl-card-wraaper-info h6 {
        font-size: 16px;
      }
      /* futurism section css end */
      
 
  
}
/* max-width 383 */
@media (max-width: 383.98px) {
  
}
