/*
  The Name:Cravings Cafe HTML Tplate
  Author: 
  Support: 
  Description: 
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1.default css
2.banner section css 
3.futurism section css
4.popular post section css
-----------------------------------
*/
:root{
  --primary-color:#179464;
  --secondary-color:#e6fodf;
  --tertiary-color:#ffc947;
  --black-color:#191919;
  --white-color:#f8fbf6;
  --blue-color:#3147ff;
}
/* font family call */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&display=swap');


/* position-relative */
.position-relative{
  position: relative !important;
}
/* position-absolute */
.position-absolute{
  position: absolute !important;
}
/* d-block */
.d-block{
  display: block !important;
}
/* z-index */
.z-1 {
  z-index: 1 !important;
}
.z-2 {
  z-index: 2 !important;
}
.z-3 {
  z-index: 3 !important;
}
/* height */
.h-100{
  height: 100% !important;
}
/* width */
.w-100{
  width: 100% !important;
}
.start-0{
  left: 0 !important;
}
/* overflow hiddden */
.overflow-hidden{
  overflow: hidden !important;
}
/* mb-3 */
.mb-3{
  margin-bottom: 16px;
}
a{
  text-decoration: none;
  color: var(--black-color);
}

/* banner section css start */
.banner-area{
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}


.banner-area a:hover{
  color:var(--white-color);
}
.banner-area img {
  max-width: 100%;
  height: auto;
}
.bl-wrapper h1{
  font-size: 48px !important;
}
.bl-wrapper .bl-title{
  font-size: 32px;
  color: var(--primary-color);
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  transition: 0.3s linear;
  margin: 0;
  margin-bottom: 12px;
}

.bl-title:hover{
  color: var(--white-color);
}
.author-name{
  color: var(--tertiary-color);
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  align-items: stretch;
}
.grid-container .bl-wrapper:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.bl-post-img::before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--black-color);
  content: "";
  opacity: 80%;
  mix-blend-mode: multiply;
}
.bl-content{
  bottom: 50px;
  padding: 0 20px;
}


/*====== style 2 =======*/
.style-2 .bl-wrapper:nth-child(1){
  grid-row: 1;
  grid-column: 1;
}

.style-2 .bl-wrapper:nth-child(3){
  grid-row: 1 / -1;
  grid-column: 2 / -1;
}
/*====== style 2 =======*/

/*====== style 3 =======*/
.style-3 .grid-container , .style-4 .grid-container{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.style-3 .bl-wrapper:nth-child(1){
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.style-3 .bl-wrapper:nth-child(3) {
  grid-row: 2;
  grid-column: 1 / -1;
}


/*====== style 3 =======*/
/*====== style 4 =======*/
.style-4 .bl-wrapper:nth-child(1){
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}
/*====== style 4 =======*/
/* banner section css end */